<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-note-form
    (CreateNote)="onCreateNote($event)" (CreateNoteType)="onCreateNoteType($event)" (DeleteNoteType)="onDeleteNoteType($event)"></app-note-form>
  <div class="container">
    <div *ngFor="let item of MyNotesService.notes" id={{item.id}}>
      <app-note-elements [note]="item" (ChangeNote)="onChangeNote(item.id, $event)" (DeleteNote)="onDeleteNote($event)"></app-note-elements>
    </div>
  </div>
</body>

</html>